.block{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}


.slide{
    position: absolute;
    width: 130px;
    height: 100vh;
}

.block__slide-left{
    left: 0;
    padding-right: 350px;
}

.block__slide-right{
    padding-left: 350px;
    right: 0;
}

.block__img{
    width: 100%;
    height: 100vh;
    display: none;
}

.img-1{
    display: block;
}